.footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    padding-bottom: 30px;
    ul {
        li {
            margin: 0 7px;
            padding: 8px 0;
            list-style: none;
            a {
                text-decoration: none;
                font-size: 13px;
                font-weight: 500;
                color: rgb(110, 110, 110);
            }
        }
    }
}