@media (min-width: 1200px) {
    .smMenuHide{
        display: none;
    } 
    .footer ul {
        display: flex;
        justify-content: center;
    }
    .btn-left {
        animation: fadeInLeft 1.5s;
    }
    .btn-right {
        animation: fadeInRight 1.5s;
    }
}

@media (max-width: 1200px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
    }
    .menuHide {
        display: none;
    }  
    .smMenuHide{
        display: block;
    } 
    .footer ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 625px){
    .btn {
        animation: fadeInUp 1s;
    }
}